In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action="ignore")

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objs as go

In [149]:
train=pd.read_csv("stk_hld_train.csv")
test=pd.read_csv("stk_hld_test.csv")

In [150]:
test

,act_id,iem_cd,byn_dt,hist_d,submit_id,hold_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,20200522,153,IDX00001,0
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,20190823,335,IDX00002,0
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,20200611,139,IDX00003,0
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,20200120,236,IDX00004,0
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,20201217,9,IDX00005,0
...,...,...,...,...,...,...
70591,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A000810,20201127,23,IDX70592,0
70592,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A005945,20200731,103,IDX70593,0
70593,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A004740,20170704,858,IDX70594,0
70594,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A001630,20201215,11,IDX70595,0
70595,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A185750,20201224,4,IDX70596,0

In [151]:
test['year']=test.byn_dt//10000

In [152]:
test_2020=test[test['year']==2020]
test_2020.describe()

             byn_dt        hist_d   hold_d     year
count  6.211200e+04  62112.000000  62112.0  62112.0
mean   2.020097e+07     61.148136      0.0   2020.0
std    2.909353e+02     60.958522      0.0      0.0
min    2.020010e+07      1.000000      0.0   2020.0
25%    2.020081e+07     12.000000      0.0   2020.0
50%    2.020111e+07     36.000000      0.0   2020.0
75%    2.020121e+07     95.000000      0.0   2020.0
max    2.020123e+07    248.000000      0.0   2020.0

In [153]:
train['year']=train.byn_dt//10000
train['month']=(train['byn_dt']%10000)//100
train['date']=train['byn_dt']%100

In [154]:
train

,act_id,iem_cd,byn_dt,hold_d,year,month,date
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11,2018,7,26
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80,2018,1,31
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5,2018,5,17
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22,2020,11,12
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324,2018,9,5
...,...,...,...,...,...,...,...
681467,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A260660,20180831,1,2018,8,31
681468,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A271980,20201027,1,2020,10,27
681469,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A289080,20181121,1,2018,11,21
681470,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A307930,20200214,1,2020,2,14
681471,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A308100,20200116,1,2020,1,16

In [155]:
train_2019=train[train['year']==2019]
train_2019

,act_id,iem_cd,byn_dt,hold_d,year,month,date
26,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A035900,20190111,152,2019,1,11
64,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A086520,20190129,225,2019,1,29
122,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A128820,20190424,174,2019,4,24
124,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A215600,20190321,16,2019,3,21
127,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A001515,20190321,19,2019,3,21
...,...,...,...,...,...,...,...
681391,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A053270,20191220,1,2019,12,20
681395,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A060590,20190920,1,2019,9,20
681410,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A073110,20190624,1,2019,6,24
681412,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A079650,20190918,1,2019,9,18
681432,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A105840,20190826,3,2019,8,26

In [123]:
train_2019['to_2020']=0

In [124]:
train_2019_1=train_2019[train_2019['month']==1]
train_2019_2=train_2019[train_2019['month']==2]
train_2019_3=train_2019[train_2019['month']==3]
train_2019_4=train_2019[train_2019['month']==4]
train_2019_5=train_2019[train_2019['month']==5]
train_2019_6=train_2019[train_2019['month']==6]
train_2019_7=train_2019[train_2019['month']==7]
train_2019_8=train_2019[train_2019['month']==8]
train_2019_9=train_2019[train_2019['month']==9]
train_2019_10=train_2019[train_2019['month']==10]
train_2019_11=train_2019[train_2019['month']==11]
train_2019_12=train_2019[train_2019['month']==12]

In [125]:
train_2019_1

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020
26,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A035900,20190111,152,2019,1,11,0
64,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A086520,20190129,225,2019,1,29,0
160,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A093370,20190128,1,2019,1,28,0
173,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A050890,20190103,50,2019,1,3,0
190,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A017670,20190121,1,2019,1,21,0
...,...,...,...,...,...,...,...,...
681061,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A014160,20190117,1,2019,1,17,0
681083,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A096630,20190118,1,2019,1,18,0
681092,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A082660,20190124,1,2019,1,24,0
681173,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A100700,20190111,2,2019,1,11,0
681197,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A131030,20190118,4,2019,1,18,0

### 2019 주식 시장 휴일
- 1월: 1, 5,6,12,13,19,20,26,27     =>max=31
- 2월: 4,5,6 ,2,3,9,10,16,17,23,24  =>max=28
- 3월: 1, 2,3,9,10,16,17,23,24,30,31=>max=31
- 4월: 6,7,13,14,20,21,27,28        =>max=30  
- 5월: 1,6, 4,5,11,12,18,19,25,26   =>max=31
- 6월: 6, 1,2,8,9,15,16,22,23,29,30 =>max=30 
- 7월: 6,7,13,14,20,21,27,28        =>max=31
- 8월: 15, 3,4,10,11,17,18,24,25,31 =>max=31
- 9월: 12,13, 1,7,8,14,15,21,22,28,29=>max=30
- 10월: 3,9 ,5,6,12,13,19,20,26,27    =>max=31
- 11월: 2,3,9,10,16,17,23,24,30       =>max=30
- 12월: 25,31, 1,7,8,14,15,21,22,28,29=>max=31

In [126]:
no_1=[1,5,6,12,13,19,20,26,27 ]
no_2=[4,5,6,2,3,9,10,16,17,23,24]
no_3=[1,2,3,9,10,16,17,23,24,30,31]
no_4=[6,7,13,14,20,21,27,28]
no_5=[1,6,4,5,11,12,18,19,25,26]
no_6=[6,1,2,8,9,15,16,22,23,29,30]
no_7=[6,7,13,14,20,21,27,28]
no_8=[15,3,4,10,11,17,18,24,25,31]
no_9=[12,13,1,7,8,14,15,21,22,28,29]
no_10=[3,9,5,6,12,13,19,20,26,27]
no_11=[2,3,9,10,16,17,23,24,30]
no_12=[25,31,1,7,8,14,15,21,22,28,29]

In [127]:
max_day=[0,31,28,31,30,31,30,31,31,30,31,30,31]
no_day=[0,len(no_1),len(no_2),len(no_3),len(no_4),len(no_5),len(no_6),len(no_7),len(no_8),len(no_9),len(no_10),len(no_11),len(no_12)]

ok_day=np.array(max_day)-np.array(no_day)

In [128]:
np.cumsum(ok_day)

array([  0,  22,  39,  59,  81, 102, 121, 144, 165, 184, 205, 226, 246],
      dtype=int32)

In [129]:
# 각 달 이후로 2020년까지 결리는 일수
ok_after=246-np.cumsum(ok_day)

In [130]:
ok_after

array([246, 224, 207, 187, 165, 144, 125, 102,  81,  62,  41,  20,   0],
      dtype=int32)

In [131]:
######################## 1월
train=train_2019_1.copy()
no=no_1
day_max=max_day[1]
after_ok=ok_after[1]
for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_1=train.copy()   

#######################2월
train=train_2019_2.copy()
no=no_2
day_max=max_day[2]
after_ok=ok_after[2]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_2=train.copy()
#######################3월
train=train_2019_3.copy()
no=no_3
day_max=max_day[3]
after_ok=ok_after[3]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_3=train.copy() 
#######################4월
train=train_2019_4.copy()
no=no_4
day_max=max_day[4]
after_ok=ok_after[4]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_4=train.copy()
#######################5월
train=train_2019_5.copy()
no=no_5
day_max=max_day[5]
after_ok=ok_after[5]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_5=train.copy() 
#######################6월
train=train_2019_6.copy()
no=no_6
day_max=max_day[6]
after_ok=ok_after[6]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_6=train.copy()
#######################7월
train=train_2019_7.copy()
no=no_7
day_max=max_day[7]
after_ok=ok_after[7]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_7=train.copy()
#######################8월
train=train_2019_8.copy()
no=no_8
day_max=max_day[8]
after_ok=ok_after[8]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_8=train.copy()
#######################9월
train=train_2019_9.copy()
no=no_9
day_max=max_day[9]
after_ok=ok_after[9]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_9=train.copy()
#######################10월
train=train_2019_10.copy()
no=no_10
day_max=max_day[10]
after_ok=ok_after[10]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_10=train.copy() 
#######################11월
train=train_2019_11.copy()
no=no_11
day_max=max_day[11]
after_ok=ok_after[11]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_11=train.copy()
#######################12월
train=train_2019_12.copy()
no=no_12
day_max=max_day[12]
after_ok=ok_after[12]

for i in range(train.shape[0]):
    for j in range(train.iloc[i,6],day_max+1):
        if j not in no:
            train.iloc[i,7]=train.iloc[i,7]+1

train['to_2020']=train['to_2020']+ after_ok         
train_2019_12=train.copy()

In [132]:
train_2019_1

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020
26,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A035900,20190111,152,2019,1,11,239
64,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A086520,20190129,225,2019,1,29,227
160,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A093370,20190128,1,2019,1,28,228
173,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A050890,20190103,50,2019,1,3,245
190,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A017670,20190121,1,2019,1,21,233
...,...,...,...,...,...,...,...,...
681061,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A014160,20190117,1,2019,1,17,235
681083,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A096630,20190118,1,2019,1,18,234
681092,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A082660,20190124,1,2019,1,24,230
681173,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A100700,20190111,2,2019,1,11,239
681197,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A131030,20190118,4,2019,1,18,234

In [133]:
train_2019_2

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020
142,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A042660,20190201,86,2019,2,1,224
176,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A039560,20190227,26,2019,2,27,209
178,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A034230,20190207,9,2019,2,7,223
193,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A016360,20190208,6,2019,2,8,222
276,481e3dc582538315b57089931b4f9e4bf84c2b163abc09...,A215600,20190207,15,2019,2,7,223
...,...,...,...,...,...,...,...,...
649483,5eafe957081039a4c9e71186cdd1c74dfd674f00be01cc...,A057680,20190222,14,2019,2,22,212
649501,5eafe957081039a4c9e71186cdd1c74dfd674f00be01cc...,A031820,20190207,5,2019,2,7,223
649502,5eafe957081039a4c9e71186cdd1c74dfd674f00be01cc...,A031510,20190211,4,2019,2,11,221
656684,a3447457656fbea68423a064d07e7ba2a8159175827850...,A203780,20190211,19,2019,2,11,221
656693,a3447457656fbea68423a064d07e7ba2a8159175827850...,A287180,20190212,16,2019,2,12,220

In [134]:
train_2019_3

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020
124,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A215600,20190321,16,2019,3,21,194
127,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A001515,20190321,19,2019,3,21,194
154,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A068270,20190328,8,2019,3,28,189
189,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A017670,20190306,45,2019,3,6,205
625,4f330270cd37d758fbe9dfe45e0c40ed4579ab6b87a648...,A005490,20190318,10,2019,3,18,197
...,...,...,...,...,...,...,...,...
650068,70be52beea671fbbf4299749ae1f50d5f64d97bac0f3eb...,A073240,20190326,10,2019,3,26,191
650073,70be52beea671fbbf4299749ae1f50d5f64d97bac0f3eb...,A007660,20190326,13,2019,3,26,191
656689,a3447457656fbea68423a064d07e7ba2a8159175827850...,A276970,20190307,43,2019,3,7,204
681079,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A094190,20190308,1,2019,3,8,203
681174,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A100700,20190329,3,2019,3,29,188

In [135]:
train_2019_4

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020
122,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A128820,20190424,174,2019,4,24,170
155,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A068270,20190415,4,2019,4,15,177
204,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A002710,20190411,136,2019,4,11,179
213,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A180640,20190415,27,2019,4,15,177
399,50aae09f842e3aeb50dcdbdb2c3e7db3a5a8f567acb919...,A170900,20190405,32,2019,4,5,183
...,...,...,...,...,...,...,...,...
680969,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A002630,20190424,1,2019,4,24,170
681062,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A014160,20190416,1,2019,4,16,176
681103,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A032280,20190422,1,2019,4,22,172
681106,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A033170,20190425,1,2019,4,25,169
681175,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A100700,20190426,31,2019,4,26,168

In [140]:
train_2019_new=pd.concat([train_2019_1,train_2019_2,train_2019_3,train_2019_4,train_2019_5,train_2019_6,train_2019_7
                         ,train_2019_8,train_2019_9,train_2019_10,train_2019_11,train_2019_12])

In [141]:
train_2019_new

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020
26,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A035900,20190111,152,2019,1,11,239
64,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A086520,20190129,225,2019,1,29,227
160,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A093370,20190128,1,2019,1,28,228
173,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A050890,20190103,50,2019,1,3,245
190,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A017670,20190121,1,2019,1,21,233
...,...,...,...,...,...,...,...,...
681154,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A052190,20191219,1,2019,12,19,7
681155,4e90d4001683b20b87ec3ca828db0e360acb58dd1be858...,A052190,20191217,1,2019,12,17,9
681333,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A002900,20191223,5,2019,12,23,5
681340,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A007460,20191210,6,2019,12,10,14
681391,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A053270,20191220,1,2019,12,20,6

In [146]:
new_train_2019=train_2019[["act_id","iem_cd","byn_dt",'hold_d','year','month','date']]

In [156]:
new_train_2019=pd.merge(new_train_2019,train_2019_new,how = "left", on=["act_id","iem_cd","byn_dt",'hold_d','year','month','date'])
new_train_2019

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A035900,20190111,152,2019,1,11,239
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A086520,20190129,225,2019,1,29,227
2,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A128820,20190424,174,2019,4,24,170
3,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A215600,20190321,16,2019,3,21,194
4,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A001515,20190321,19,2019,3,21,194
...,...,...,...,...,...,...,...,...
143717,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A053270,20191220,1,2019,12,20,6
143718,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A060590,20190920,1,2019,9,20,69
143719,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A073110,20190624,1,2019,6,24,130
143720,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A079650,20190918,1,2019,9,18,71
143721,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A105840,20190826,3,2019,8,26,86

In [157]:
new_train_2019['test']=new_train_2019['hold_d']-new_train_2019['to_2020']

In [158]:
new_train=new_train_2019[new_train_2019['test']>=0]

In [161]:
new_train.to_csv('new_train_2019.csv',index=False)

In [162]:
new_train

,act_id,iem_cd,byn_dt,hold_d,year,month,date,to_2020,test
2,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A128820,20190424,174,2019,4,24,170,4
6,356b35c423a191e1f5b8cc1dfa2d597c614ba00b52ccae...,A043200,20190924,71,2019,9,24,67,4
17,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A042510,20190524,241,2019,5,24,150,91
32,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A001045,20190617,164,2019,6,17,135,29
35,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,A166090,20191030,85,2019,10,30,43,42
...,...,...,...,...,...,...,...,...,...
143625,b49870eda1fe80d5d0eb4c08c1e23b1e5055d466b4af33...,A028300,20191028,123,2019,10,28,45,78
143698,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A100700,20191120,38,2019,11,20,28,10
143701,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A026960,20190701,262,2019,7,1,125,137
143706,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A005180,20191112,35,2019,11,12,34,1
143710,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A002900,20191223,5,2019,12,23,5,0